#root section {
  -webkit-transition: width 2s, height 2s, background-color 2s,
  -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.onLoad {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}


#about {z-index: 10}
#masthead {z-index: 20}
#contact {z-index: 30}
#error {z-index: 40}
#projects {z-index: 50}
#signup {z-index: 60}



